**Importing libraries**

In [2]:
import pandas as pd
import numpy as np

**DAQ-DataAcqisition**

In [9]:
df=pd.read_excel("/content/pythonboss data.xlsx")

In [10]:
df

       Name Circle    Cluster  ... Site Audits SQI Score  SeqI Score With Missing
0       Ram     TN        CBE  ...           1         2                      5.0
1    ganesh     TN        MDU  ...           2         5                      NaN
2    shashi    KER    calicut  ...           3         3                      3.0
3    kishan     BR       gaya  ...           4         4                      4.0
4      shiv     BR      patna  ...           5         6                      3.0
5   hanuman    che         sw  ...           6         8                      5.0
6      sita    che         wt  ...           7         9                      NaN
7   lakshmi     up   aayodhya  ...           8         4                      NaN
8     durga     up  varanashi  ...           9         4                      2.0
9      kali     AP    nellore  ...          10         6                      1.0
10   kishan    Guj      surat  ...          11         8                      5.0
11     shiv    Raj       kota  ...          12         4                      1.0
12   shashi    KER    trissur  ...          13         9                      NaN
13   kishan     BR       gaya  ...          14        11                      NaN

[14 rows x 9 columns]



```
# This is formatted as code
```

**Data Exploration**

In [49]:
#Important attribute/method for Basic Exploration
print("Print a concise summary of a Df..\n",df.info())
print("print the dimensionality of the DataFrame\n",df.shape) 
print("Print the number of rows times number of columns\n",df.size)
print("print the top 5 rows of df ..\n",df.head())
print("print the Bottom 5 rows of df ..\n",df.tail())
print("print the data types of df ..\n",df.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     14 non-null     object
 1   Circle                   14 non-null     object
 2   Cluster                  14 non-null     object
 3   Company                  14 non-null     object
 4   Date                     14 non-null     datetime64[ns]
 5   Site I&C                 13 non-null     float64
 6   Site Audits              14 non-null     int64
 7   SQI Score                14 non-null     int64
 8   SeqI Score With Missing  9 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 1.1+ KB
Print a concise summary of a Df..
 None
print the dimensionality of the DataFrame
 (14, 9)
Print the number of rows times number of columns
 126
print the top 5 rows of df ..
      Name Circle  Cluster  ... Site Audits SQI Score  SeqI Score With Missing
0     Ram     TN      CBE  ...           1         2                      5.0
1  ganesh     TN      MDU  ...           2         5                      NaN
2  shashi    KER  calicut  ...           3         3                      3.0
3  kishan     BR     gaya  ...           4         4                      4.0
4    shiv     BR    patna  ...           5         6                      3.0

[5 rows x 9 columns]
print the Bottom 5 rows of df ..
       Name Circle  Cluster  ... Site Audits SQI Score  SeqI Score With Missing
9     kali     AP  nellore  ...          10         6                      1.0
10  kishan    Guj    surat  ...          11         8                      5.0
11    shiv    Raj     kota  ...          12         4                      1.0
12  shashi    KER  trissur  ...          13         9                      NaN
13  kishan     BR     gaya  ...          14        11                      NaN

[5 rows x 9 columns]
print the data types of df ..
 Name                               object
Circle                             object
Cluster                            object
Company                            object
Date                       datetime64[ns]
Site I&C                          float64
Site Audits                         int64
SQI Score                           int64
SeqI Score With Missing           float64
dtype: object

In [60]:
np.sum(df.isnull())#Detect missing values

Name                       0
Circle                     0
Cluster                    0
Company                    0
Date                       0
Site I&C                   1
Site Audits                0
SQI Score                  0
SeqI Score With Missing    5
dtype: int64

In [87]:
np.sum(df.notnull()) #Detect existing (non-missing) values.

Name                       14
Circle                     14
Cluster                    14
Company                    14
Date                       14
Site I&C                   13
Site Audits                14
SQI Score                  14
SeqI Score With Missing     9
dtype: int64

In [69]:
np.sum(df.isnull())/df.shape[0] #Detect % of values of DF

Name                       0.000000
Circle                     0.000000
Cluster                    0.000000
Company                    0.000000
Date                       0.000000
Site I&C                   0.071429
Site Audits                0.000000
SQI Score                  0.000000
SeqI Score With Missing    0.357143
dtype: float64

In [89]:
np.sum(np.sum(df.isnull())/df.shape[0]>.35) ##to find the no of columns with more than 35% of data missing

1

In [86]:
set(df.columns[df.isnull().mean()>.35])

{'SeqI Score With Missing'}